body {
  font-family: 'Montserrat', sans-serif;
}
.container-2 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 40px 385px 40px 70px;
}
.nav {
  width: 540px;
  display: flex;
  align-items: center;
  padding: 55px 165px 55px 10px;
}
.nav-1 {
  padding-right: 95px;
  line-height: 28px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.nav-1:hover {
  color: orangered;
  text-decoration: none;
}
.nav-el {
margin-right: 100px;
}
.button, .button-2 {
font-weight: bold;
font-size: 24px;
line-height: 36px;
width: 236px;
height: 70px;
border-radius: 30px;
color: #fff;
border: none;
}
.button-2 {
padding: 10px 0;
}
.button-container > .button:first-of-type
{
background: orangered;
border: none;
margin-right: 30px;
}
.button-container-2 > .button-2:first-of-type {
background: orangered;
border: none;
margin-right: 30px;
border-radius: 10px;
}
.button-container-2 > .button-2:last-of-type {
  background: none;
  border: none;
  border-radius: 10px;
  border: 1px solid white;
  width: 170px;
  margin-left: 10px;
  }
.button-container > .button:last-of-type {
  background: none;
  border: 1px solid white;
  }
.app {
  background-image: url('../img/Rectangle 48.png');
  text-align: center;
  color:#FFFFFF;
  padding: 80px 0 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.app-text {
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #F7F7F7;
}
.app-title, .app-text-2 {
font-family: Poppins;
font-weight: bold;
font-size: 58px;
line-height: 80px;
color: #FFFFFF;
max-width: 800px;
margin: 10px auto;
}
.app-text-2 {
  padding: 130px 290px 50px 290px;
}
.app-about {
font-weight: 500;
font-size: 24px;
line-height: 38px;
color: #F7F7F7;
margin-bottom: 50px;
}
.app-2 {
  background-image: url('../img/Rectangle 47.png');
  text-align: center;
  color:#FFFFFF;
  padding: 80px 0 160px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 510px;
}
.app-title-2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 290px 50px 290px;
}
.footer {
  display: flex;
  width: 1210px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo-2 {
  padding: 28px 0 27px 91px;
}
.copy {
  padding: 65px 45px 50px 675px;
  font-family: Roboto;
font-weight: bold;
font-size: 12px;
line-height: 18px;
text-align: right;
letter-spacing: 0.1px;
color: #5C5C5C;
}
.firts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second {
  width: 1440px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 250px;
}
.main-text {
font-family: Poppins;
font-weight: bolder;
font-size: 44px;
line-height: 36px;
color: #000000;
opacity: 0.8;
text-align: center;
margin: 70px 0;
}
.icon-1 {
  padding-left: 175px;
}
.icon-2 {
  padding-right: 200px;
  
}
.icon-1-text-title, 
.icon-2-text-title {
color: #FA4A0C;
font-weight: bold;
font-size: 24px;
line-height: 36px;
}
.icon-2-text-title,
.icon-2-text-main,
.icon-2-text-about {
padding-left: 175px;
}
.icon-1-text-main,
.icon-2-text-main {
font-weight: bold;
font-size: 40px;
line-height: 57px;
color: #252B42;
margin: 10px 0;
width: 570px;
}
.icon-1-text {
  padding: 170px 160px 195px 290px;
  width: 560px;
}
.icon-1-text-about,
.icon-2-text-about {
font-weight: 500;
font-size: 24px;
line-height: 38px;
color: #737373;
max-width: 460px;
}
.main {
  margin: 0 auto;
  width: 1440px;
  margin-bottom: 70px;

}
.container-2 {
  width: 1440px;
}
@media screen and (max-width: 479px) {
  .nav {
    width: 480px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .nav-1 {
    padding-left: 50px;
    
  }
  .container-2 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 480px;
    margin: 0 auto;
  }
  .logo {
    margin: 0 auto;
  }
  .button-container {
    margin: 0 auto;
  }
  .button-container > .button:last-of-type {
  margin: 20px auto;
  }
  .button-container > .button:first-of-type {
    margin: 20px auto;
  }
}
